/* Estilo B */
body {
	background-color: #eee;
	color: #666;
	font-family: Verdana, sans-serif;
}

header {
	background-color: #666;
	color: #fff;
	padding: 20px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	background-color: #777;
}

main {
	padding: 20px;
}

footer {
	background-color: #666;
	color: #fff;
	padding: 20px;
	text-align: center;
}
